# Project 1

## Group One: Covid 19 | Part One: Data Cleansing

Team Members: Michael Bien, Lupita Lopez, Jinah Porter, Debra Wu

### Research Questions to Answer:

1. WORLD: Compare COVID deaths by GDP by Country: Does a higher GDP result in a lower number of COVID deaths?

2. US: Examine death rates by age group and determine is children under 10 die at a lower rate, adults 60+ at a higher rate

3. US: Compare cases/deaths by state

4. US: Does pre-COVID state GDP related to the cases/deaths in a given state

5. March shutdown, 4th of July and Memorial Day: compare 2 months of shutdown vs. reopening: how did reopening affect case and death rates? 

6. US: Is there a relationship between COVID cases/deaths and gender?

7. US: Is there a relationship between COVID cases/deaths and ethnicity?

In [173]:
#Import necessary libraries
import pandas as pd
import os
import requests
import numpy as np
import requests
from pprint import pprint
import json

Import World Bank data by Country; source: https://databank.worldbank.org/reports.aspx?source=2&series=NY.GDP.MKTP.CD&country=#

In [174]:
# Import world_bank_data.csv
file_path = os.path.join("..","source_data","world_bank_data.csv")
world_bank_df = pd.read_csv(file_path)
# Drop countries where the 2018 GDP is null, this is indicated by ".."
#Logic: Countries with no GDP data do not contribute to the analysis by GDP
world_bank_df = world_bank_df[world_bank_df["2018 [YR2018]"] != ".."]
world_bank_df.tail(45)

,Country Name,Country Code,2018 [YR2018]
216,Zimbabwe,ZWE,24311560500
217,Arab World,ARB,2.77E+12
218,Caribbean small states,CSS,73459161489
219,Central Europe and the Baltics,CEB,1.64E+12
220,Early-demographic dividend,EAR,1.16E+13
221,East Asia & Pacific,EAS,2.63E+13
222,East Asia & Pacific (excluding high income),EAP,1.66E+13
223,East Asia & Pacific (IDA & IBRD countries),TEA,1.66E+13
224,Euro area,EMU,1.37E+13
225,Europe & Central Asia,ECS,2.31E+13
226,Europe & Central Asia (excluding high income),ECA,3.18E+12
227,Europe & Central Asia (IDA & IBRD countries),TEC,4.07E+12
228,European Union,EUU,1.59E+13
229,Fragile and conflict affected situations,FCS,1.68E+12
230,Heavily indebted poor countries (HIPC),HPC,7.46E+11
231,High income,HIC,5.46E+13
232,IBRD only,IBD,3.08E+13
233,IDA & IBRD total,IBT,3.30E+13
234,IDA blend,IDB,9.63E+11
235,IDA only,IDX,1.26E+12
236,IDA total,IDA,2.22E+12
237,Late-demographic dividend,LTE,2.25E+13
238,Latin America & Caribbean,LCN,5.82E+12
239,Latin America & Caribbean (excluding high income),LAC,5.22E+12
240,Latin America & the Caribbean (IDA & IBRD coun...,TLA,5.57E+12
241,Least developed countries: UN classification,LDC,1.07E+12
242,Low & middle income,LMY,3.18E+13
243,Low income,LIC,5.09E+11
244,Lower middle income,LMC,6.00E+12
245,Middle East & North Africa,MEA,3.61E+12
248,Middle income,MIC,3.13E+13
249,North America,NAC,2.23E+13
251,OECD members,OED,5.31E+13
252,Other small states,OSS,4.50E+11
253,Pacific island small states,PSS,10379816021
254,Post-demographic dividend,PST,5.02E+13
255,Pre-demographic dividend,PRE,1.33E+12
256,Small states,SST,5.34E+11
257,South Asia,SAS,3.45E+12
258,South Asia (IDA & IBRD),TSA,3.45E+12
259,Sub-Saharan Africa,SSF,1.71E+12
260,Sub-Saharan Africa (excluding high income),SSA,1.70E+12
261,Sub-Saharan Africa (IDA & IBRD countries),TSS,1.71E+12
262,Upper middle income,UMC,2.53E+13
263,World,WLD,8.64E+13

In [175]:
# dropping rows by index number range. These rows represent aggregations of the country data and are not useful in the analysis
world_bank_df.drop(world_bank_df.loc[217:263].index, inplace=True)
world_bank_df.tail(5)

           Country Name Country Code 2018 [YR2018]
211             Vietnam          VNM      2.45E+11
213  West Bank and Gaza          PSE   14615900000
214         Yemen, Rep.          YEM   27591261663
215              Zambia          ZMB   27005238896
216            Zimbabwe          ZWE   24311560500

Johns Hopkins Country Data with iso: https://documenter.getpostman.com/view/10724784/SzYXWz3x?version=latest
Johns Hopkins Case Data by Country: https://documenter.getpostman.com/view/5352730/SzYbyxR5?version=latest

In [176]:
# Grab Johns Hopkins country list with 3 character country code
JH_countries = requests.get("https://covid-api.com/api/regions").json()
JH_countries_list_df = pd.DataFrame(JH_countries["data"])
JH_countries_list_df = JH_countries_list_df[["name","iso"]]
JH_countries_list_df = JH_countries_list_df.sort_values(by='name', ascending=True)
JH_countries_list_df.head()

            name  iso
37   Afghanistan  AFG
106      Albania  ALB
41       Algeria  DZA
70       Andorra  AND
178       Angola  AGO

In [258]:
# create empty columns for deaths, confirmed, recovered
JH_countries_list_df["JH Deaths"] = ""
JH_countries_list_df["JH Confirmed"] = ""
JH_countries_list_df["JH Recovered"] = ""
# create empty list to gather country lookuop errors
JH_country_no_data = []

# John Hopkins base url
base_url = "https://covid19-stats-api.herokuapp.com/api/v1/cases?country="
for index,row in JH_countries_list_df.iterrows():
    country_lookup = row["name"]
    request_url = base_url + country_lookup
    response = requests.get(request_url).json()
    try:
        confirm_JH = response["confirmed"]
        row["JH Confirmed"] = confirm_JH
        death_JH = response["deaths"]
        row["JH Deaths"] = death_JH
        recovered_JH = response["recovered"]
        row["JH Recovered"] = recovered_JH
        print(f"Processing country | {country_lookup} | {response}")
        
    except KeyError:
        print(f"<<Data not found for {country_lookup}")
        JH_country_no_data.append(country_lookup)
        pass
print("** API call complete**")

Processing country | Afghanistan | {'confirmed': 38815, 'deaths': 1426, 'recovered': 32098}
Processing country | Albania | {'confirmed': 11672, 'deaths': 340, 'recovered': 6668}
Processing country | Algeria | {'confirmed': 48734, 'deaths': 1632, 'recovered': 34385}
Processing country | Andorra | {'confirmed': 1438, 'deaths': 53, 'recovered': 945}
Processing country | Angola | {'confirmed': 3569, 'deaths': 139, 'recovered': 1332}
Processing country | Antigua and Barbuda | {'confirmed': 95, 'deaths': 3, 'recovered': 91}
Processing country | Argentina | {'confirmed': 577338, 'deaths': 11852, 'recovered': 438883}
Processing country | Armenia | {'confirmed': 46119, 'deaths': 920, 'recovered': 41941}
Processing country | Australia | {'confirmed': 26778, 'deaths': 824, 'recovered': 23650}
Processing country | Austria | {'confirmed': 34305, 'deaths': 757, 'recovered': 27354}
Processing country | Azerbaijan | {'confirmed': 38517, 'deaths': 566, 'recovered': 35998}
Processing country | Bahamas | {'confirmed': 3032, 'deaths': 69, 'recovered': 1482}
Processing country | Bahrain | {'confirmed': 61643, 'deaths': 213, 'recovered': 54831}
Processing country | Bangladesh | {'confirmed': 341056, 'deaths': 4802, 'recovered': 245594}
Processing country | Barbados | {'confirmed': 184, 'deaths': 7, 'recovered': 169}
Processing country | Belarus | {'confirmed': 74552, 'deaths': 761, 'recovered': 72661}
Processing country | Belgium | {'confirmed': 94795, 'deaths': 9930, 'recovered': 18789}
Processing country | Belize | {'confirmed': 1541, 'deaths': 21, 'recovered': 663}
Processing country | Benin | {'confirmed': 2267, 'deaths': 40, 'recovered': 1942}
Processing country | Bhutan | {'confirmed': 246, 'deaths': 0, 'recovered': 175}
Processing country | Bolivia | {'confirmed': 128286, 'deaths': 7447, 'recovered': 86216}
Processing country | Bosnia and Herzegovina | {'confirmed': 23929, 'deaths': 725, 'recovered': 16701}
Processing country | Botswana | {'confirmed': 2463, 'deaths': 11, 'recovered': 575}
Processing country | Brazil | {'confirmed': 4654148, 'deaths': 151102, 'recovered': 4195448}
Processing country | Brunei | {'confirmed': 145, 'deaths': 3, 'recovered': 139}
Processing country | Bulgaria | {'confirmed': 18216, 'deaths': 736, 'recovered': 13057}
Processing country | Burkina Faso | {'confirmed': 1733, 'deaths': 56, 'recovered': 1141}
Processing country | Burma | {'confirmed': 3636, 'deaths': 39, 'recovered': 832}
Processing country | Burundi | {'confirmed': 472, 'deaths': 1, 'recovered': 374}
Processing country | Cabo Verde | {'confirmed': 4904, 'deaths': 46, 'recovered': 4294}
Processing country | Cambodia | {'confirmed': 275, 'deaths': 0, 'recovered': 274}
Processing country | Cameroon | {'confirmed': 20271, 'deaths': 415, 'recovered': 18837}
Processing country | Canada | {'confirmed': 140918, 'deaths': 9239, 'recovered': 158959}
Processing country | Central African Republic | {'confirmed': 4772, 'deaths': 62, 'recovered': 1828}
Processing country | Chad | {'confirmed': 1087, 'deaths': 81, 'recovered': 944}
Processing country | Chile | {'confirmed': 487562, 'deaths': 12549, 'recovered': 431451}
Processing country | China | {'confirmed': 90235, 'deaths': 4736, 'recovered': 85129}
Processing country | Colombia | {'confirmed': 752694, 'deaths': 24091, 'recovered': 614089}
Processing country | Comoros | {'confirmed': 467, 'deaths': 7, 'recovered': 446}
Processing country | Congo (Brazzaville) | {'confirmed': 4934, 'deaths': 88, 'recovered': 3887}
Processing country | Congo (Kinshasa) | {'confirmed': 10401, 'deaths': 267, 'recovered': 9817}
Processing country | Costa Rica | {'confirmed': 58137, 'deaths': 633, 'recovered': 21536}
Processing country | Cote d'Ivoire | {'confirmed': 19100, 'deaths': 120, 'recovered': 18228}
Processing country | Croatia | {'confirmed': 13749, 'deaths': 230, 'recovered': 11412}
Processing country | Cuba | {'confirmed': 4803, 'deaths': 108, 'recovered': 4119}
Processing country | Cyprus | {'confirmed': 1540, 'deaths': 22, 'recovered': 1282}
Processing country | Czechia | {'confirmed': 38896, 'deaths': 476, 'recovered': 22613}
Processing country | Denmark | {'confirmed': 21013, 'deaths': 633, 'recovered': 16983}
Processing country | Diamond Princess | {'confirmed': 712, 'deaths': 13, 'recovered': 651}
Processing country | Djibouti | {'confirmed': 5396, 'deaths': 61, 'recovered': 5331}
Processing country | Dominica | {'confirmed': 24, 'deaths': 0, 'recovered': 18}
Processing country | Dominican Republic | {'confirmed': 104803, 'deaths': 1998, 'recovered': 78387}
Processing country | Ecuador | {'confirmed': 119553, 'deaths': 10963, 'recovered': 97063}
Processing country | Egypt | {'confirmed': 101340, 'deaths': 5679, 'recovered': 85745}
Processing country | El Salvador | {'confirmed': 27088, 'deaths': 792, 'recovered': 19450}
Processing country | Equatorial Guinea | {'confirmed': 5000, 'deaths': 83, 'recovered': 4496}
Processing country | Eritrea | {'confirmed': 364, 'deaths': 0, 'recovered': 304}
Processing country | Estonia | {'confirmed': 2722, 'deaths': 64, 'recovered': 2286}
Processing country | Eswatini | {'confirmed': 5128, 'deaths': 101, 'recovered': 4401}
Processing country | Ethiopia | {'confirmed': 65486, 'deaths': 1035, 'recovered': 25988}
Processing country | Fiji | {'confirmed': 32, 'deaths': 2, 'recovered': 24}
Processing country | Finland | {'confirmed': 8725, 'deaths': 339, 'recovered': 7500}
Processing country | France | {'confirmed': 563559, 'deaths': 44839, 'recovered': 117207}
Processing country | Gabon | {'confirmed': 8654, 'deaths': 53, 'recovered': 7785}
Processing country | Gambia | {'confirmed': 3428, 'deaths': 105, 'recovered': 1737}
Processing country | Georgia | {'confirmed': 2562, 'deaths': 19, 'recovered': 1369}
Processing country | Germany | {'confirmed': 439112, 'deaths': 17228, 'recovered': 383812}
Processing country | Ghana | {'confirmed': 45655, 'deaths': 294, 'recovered': 44797}
Processing country | Greece | {'confirmed': 13730, 'deaths': 313, 'recovered': 1347}
Processing country | Grenada | {'confirmed': 24, 'deaths': 0, 'recovered': 24}
Processing country | Guatemala | {'confirmed': 82684, 'deaths': 2984, 'recovered': 71983}
Processing country | Guinea | {'confirmed': 10111, 'deaths': 63, 'recovered': 9444}
Processing country | Guinea-Bissau | {'confirmed': 2275, 'deaths': 39, 'recovered': 1127}
Processing country | Guyana | {'confirmed': 1958, 'deaths': 58, 'recovered': 1302}
Processing country | Haiti | {'confirmed': 8530, 'deaths': 220, 'recovered': 6181}
Processing country | Holy See | {'confirmed': 12, 'deaths': 0, 'recovered': 12}
Processing country | Honduras | {'confirmed': 68620, 'deaths': 2087, 'recovered': 18487}
Processing country | Hungary | {'confirmed': 13879, 'deaths': 646, 'recovered': 4130}
Processing country | Iceland | {'confirmed': 2174, 'deaths': 10, 'recovered': 2102}
Processing country | India | {'confirmed': 5286309, 'deaths': 89539, 'recovered': 4071457}
Processing country | Indonesia | {'confirmed': 225030, 'deaths': 8965, 'recovered': 161065}
Processing country | Iran | {'confirmed': 407353, 'deaths': 23453, 'recovered': 349984}
Processing country | Iraq | {'confirmed': 298702, 'deaths': 8166, 'recovered': 233346}
Processing country | Ireland | {'confirmed': 31549, 'deaths': 1787, 'recovered': 23364}
Processing country | Israel | {'confirmed': 164402, 'deaths': 1147, 'recovered': 120727}
Processing country | Italy | {'confirmed': 512094, 'deaths': 66739, 'recovered': 327186}
Processing country | Jamaica | {'confirmed': 4042, 'deaths': 46, 'recovered': 1163}
Processing country | Japan | {'confirmed': 93097, 'deaths': 2321, 'recovered': 80874}
Processing country | Jordan | {'confirmed': 3677, 'deaths': 26, 'recovered': 2311}
Processing country | Kazakhstan | {'confirmed': 106984, 'deaths': 1671, 'recovered': 101267}
Processing country | Kenya | {'confirmed': 36301, 'deaths': 634, 'recovered': 23364}
Processing country | Korea, South | {'confirmed': 22504, 'deaths': 367, 'recovered': 19310}
Processing country | Kosovo | {'confirmed': 12683, 'deaths': 488, 'recovered': 8788}
Processing country | Kuwait | {'confirmed': 96301, 'deaths': 568, 'recovered': 86219}
Processing country | Kyrgyzstan | {'confirmed': 44999, 'deaths': 1063, 'recovered': 41103}
Processing country | Laos | {'confirmed': 23, 'deaths': 0, 'recovered': 22}
Processing country | Latvia | {'confirmed': 1482, 'deaths': 35, 'recovered': 1248}
Processing country | Lebanon | {'confirmed': 25449, 'deaths': 252, 'recovered': 9216}
Processing country | Lesotho | {'confirmed': 1327, 'deaths': 33, 'recovered': 687}
Processing country | Liberia | {'confirmed': 1327, 'deaths': 82, 'recovered': 1214}
Processing country | Libya | {'confirmed': 24144, 'deaths': 383, 'recovered': 13252}
Processing country | Liechtenstein | {'confirmed': 111, 'deaths': 1, 'recovered': 105}
Processing country | Lithuania | {'confirmed': 3397, 'deaths': 87, 'recovered': 2094}
Processing country | Luxembourg | {'confirmed': 7284, 'deaths': 124, 'recovered': 6561}
Processing country | MS Zaandam | {'confirmed': 18, 'deaths': 4, 'recovered': 0}
Processing country | Madagascar | {'confirmed': 15803, 'deaths': 214, 'recovered': 14452}
Processing country | Malawi | {'confirmed': 5701, 'deaths': 178, 'recovered': 3762}
Processing country | Malaysia | {'confirmed': 9969, 'deaths': 128, 'recovered': 9209}
Processing country | Maldives | {'confirmed': 9328, 'deaths': 33, 'recovered': 7729}
Processing country | Mali | {'confirmed': 2940, 'deaths': 128, 'recovered': 2302}
Processing country | Malta | {'confirmed': 2454, 'deaths': 16, 'recovered': 1931}
Processing country | Mauritania | {'confirmed': 7326, 'deaths': 162, 'recovered': 6841}
Processing country | Mauritius | {'confirmed': 365, 'deaths': 10, 'recovered': 338}
Processing country | Mexico | {'confirmed': 730833, 'deaths': 77344, 'recovered': 606871}
Processing country | Moldova | {'confirmed': 43734, 'deaths': 1143, 'recovered': 32293}
Processing country | Monaco | {'confirmed': 178, 'deaths': 1, 'recovered': 133}
Processing country | Mongolia | {'confirmed': 311, 'deaths': 0, 'recovered': 301}
Processing country | Montenegro | {'confirmed': 7061, 'deaths': 123, 'recovered': 4692}
Processing country | Morocco | {'confirmed': 90324, 'deaths': 1648, 'recovered': 71047}
Processing country | Mozambique | {'confirmed': 5713, 'deaths': 37, 'recovered': 3181}
Processing country | Namibia | {'confirmed': 9901, 'deaths': 106, 'recovered': 7358}
Processing country | Nepal | {'confirmed': 56788, 'deaths': 371, 'recovered': 40638}
Processing country | Netherlands | {'confirmed': 140024, 'deaths': 12437, 'recovered': 2146}
Processing country | New Zealand | {'confirmed': 1802, 'deaths': 25, 'recovered': 1698}
Processing country | Nicaragua | {'confirmed': 4961, 'deaths': 147, 'recovered': 2913}
Processing country | Niger | {'confirmed': 1182, 'deaths': 69, 'recovered': 1104}
Processing country | Nigeria | {'confirmed': 56478, 'deaths': 1088, 'recovered': 44430}
Processing country | North Macedonia | {'confirmed': 15925, 'deaths': 661, 'recovered': 13418}
Processing country | Norway | {'confirmed': 12393, 'deaths': 265, 'recovered': 10371}
Processing country | Oman | {'confirmed': 90660, 'deaths': 797, 'recovered': 84113}
Processing country | Pakistan | {'confirmed': 411406, 'deaths': 8565, 'recovered': 325778}
Processing country | Panama | {'confirmed': 102832, 'deaths': 2187, 'recovered': 75592}
Processing country | Papua New Guinea | {'confirmed': 511, 'deaths': 6, 'recovered': 232}
Processing country | Paraguay | {'confirmed': 29298, 'deaths': 552, 'recovered': 15261}
Processing country | Peru | {'confirmed': 869765, 'deaths': 34795, 'recovered': 629533}
Processing country | Philippines | {'confirmed': 269407, 'deaths': 4663, 'recovered': 207352}
Processing country | Poland | {'confirmed': 75134, 'deaths': 2227, 'recovered': 61548}
Processing country | Portugal | {'confirmed': 65021, 'deaths': 1875, 'recovered': 44362}
Processing country | Qatar | {'confirmed': 122214, 'deaths': 208, 'recovered': 119144}
Processing country | Romania | {'confirmed': 105298, 'deaths': 4236, 'recovered': 43244}
Processing country | Russia | {'confirmed': 1475716, 'deaths': 23416, 'recovered': 1053576}
Processing country | Rwanda | {'confirmed': 4624, 'deaths': 22, 'recovered': 2767}
Processing country | Saint Kitts and Nevis | {'confirmed': 17, 'deaths': 0, 'recovered': 17}
Processing country | Saint Lucia | {'confirmed': 27, 'deaths': 0, 'recovered': 26}
Processing country | Saint Vincent and the Grenadines | {'confirmed': 64, 'deaths': 0, 'recovered': 62}
Processing country | San Marino | {'confirmed': 723, 'deaths': 42, 'recovered': 663}
Processing country | Sao Tome and Principe | {'confirmed': 907, 'deaths': 15, 'recovered': 871}
Processing country | Saudi Arabia | {'confirmed': 326930, 'deaths': 4338, 'recovered': 305022}
Processing country | Senegal | {'confirmed': 14529, 'deaths': 298, 'recovered': 10692}
Processing country | Serbia | {'confirmed': 32511, 'deaths': 735, 'recovered': 0}
Processing country | Seychelles | {'confirmed': 140, 'deaths': 0, 'recovered': 136}
Processing country | Sierra Leone | {'confirmed': 2126, 'deaths': 72, 'recovered': 1640}
Processing country | Singapore | {'confirmed': 57488, 'deaths': 27, 'recovered': 56884}
Processing country | Slovakia | {'confirmed': 5768, 'deaths': 38, 'recovered': 3214}
Processing country | Slovenia | {'confirmed': 3831, 'deaths': 135, 'recovered': 2789}
Processing country | Somalia | {'confirmed': 3390, 'deaths': 98, 'recovered': 2812}
Processing country | South Africa | {'confirmed': 651521, 'deaths': 15641, 'recovered': 583126}
Processing country | South Sudan | {'confirmed': 2592, 'deaths': 49, 'recovered': 1290}
Processing country | Spain | {'confirmed': 831858, 'deaths': 57108, 'recovered': 291199}
Processing country | Sri Lanka | {'confirmed': 3271, 'deaths': 13, 'recovered': 3016}
Processing country | Sudan | {'confirmed': 13535, 'deaths': 836, 'recovered': 6759}
Processing country | Suriname | {'confirmed': 4625, 'deaths': 95, 'recovered': 3996}
Processing country | Sweden | {'confirmed': 129228, 'deaths': 10413, 'recovered': 0}
Processing country | Switzerland | {'confirmed': 47751, 'deaths': 2028, 'recovered': 39900}
Processing country | Syria | {'confirmed': 3614, 'deaths': 160, 'recovered': 871}
Processing country | Taiwan* | {'confirmed': 499, 'deaths': 7, 'recovered': 476}
Processing country | Tajikistan | {'confirmed': 9129, 'deaths': 73, 'recovered': 7896}
Processing country | Tanzania | {'confirmed': 509, 'deaths': 21, 'recovered': 183}
Processing country | Thailand | {'confirmed': 3490, 'deaths': 58, 'recovered': 3316}
Processing country | Timor-Leste | {'confirmed': 27, 'deaths': 0, 'recovered': 26}
Processing country | Togo | {'confirmed': 1595, 'deaths': 40, 'recovered': 1219}
Processing country | Trinidad and Tobago | {'confirmed': 3223, 'deaths': 56, 'recovered': 798}
Processing country | Tunisia | {'confirmed': 7623, 'deaths': 123, 'recovered': 2262}
Processing country | Turkey | {'confirmed': 294620, 'deaths': 7186, 'recovered': 261260}
Processing country | US | {'confirmed': 6881956, 'deaths': 221417, 'recovered': 2495127}
Processing country | Uganda | {'confirmed': 5123, 'deaths': 58, 'recovered': 2333}
Processing country | Ukraine | {'confirmed': 187350, 'deaths': 4034, 'recovered': 82960}
Processing country | United Arab Emirates | {'confirmed': 80940, 'deaths': 401, 'recovered': 70635}
Processing country | United Kingdom | {'confirmed': 666813, 'deaths': 82881, 'recovered': 2184}
Processing country | Uruguay | {'confirmed': 1827, 'deaths': 45, 'recovered': 1545}
Processing country | Uzbekistan | {'confirmed': 48429, 'deaths': 402, 'recovered': 44942}
Processing country | Venezuela | {'confirmed': 62655, 'deaths': 502, 'recovered': 50361}
Processing country | Vietnam | {'confirmed': 1063, 'deaths': 35, 'recovered': 931}
Processing country | West Bank and Gaza | {'confirmed': 32250, 'deaths': 229, 'recovered': 21804}
Processing country | Western Sahara | {'confirmed': 14, 'deaths': 1, 'recovered': 8}
Processing country | Yemen | {'confirmed': 2016, 'deaths': 583, 'recovered': 1219}
Processing country | Zambia | {'confirmed': 13819, 'deaths': 324, 'recovered': 12590}
Processing country | Zimbabwe | {'confirmed': 7576, 'deaths': 224, 'recovered': 5783}
** API call complete**

In [257]:
print(JH_country_no_data)

[]

In [284]:
# Drop rows with zero death using the following logic:
# 1. The list of countries and case data were obtained independently from two different Johns Hopkins apis
# 2. Instance where the Johns Hopkins country returns a null for Johns Hopkins cases indicates that the countries with null cases can be droppped as the case data is not being tracked
JH_countries_list_df = JH_countries_list_df[JH_countries_list_df["JH Deaths"] != ""]
JH_countries_list_df.shape

(188, 5)

In [285]:
# merge World Bank and Johns Hopkins dataframes on iso
#rename columns for merge
JH_countries_list_df.rename(columns={"iso":"Country Code"}, inplace=True)
WB_JH_merge_df = pd.merge(world_bank_df,JH_countries_list_df,on="Country Code",how="outer")
WB_JH_merge_df.head()

,Country Name,Country Code,2018 [YR2018],name,JH Deaths,JH Confirmed,JH Recovered
0,Afghanistan,AFG,19484384937,Afghanistan,1426,38815,32098
1,Albania,ALB,15147020535,Albania,340,11672,6668
2,Algeria,DZA,1.74E+11,Algeria,1632,48734,34385
3,American Samoa,ASM,636000000,NaN,NaN,NaN,NaN
4,Andorra,AND,3218316013,Andorra,53,1438,945

In [286]:
# capture rows where there is no JH data
JH_no_data = WB_JH_merge_df[WB_JH_merge_df["JH Deaths"].isnull()]
JH_no_data

,Country Name,Country Code,2018 [YR2018],name,JH Deaths,JH Confirmed,JH Recovered
3,American Samoa,ASM,636000000,NaN,NaN,NaN,NaN
33,Cayman Islands,CYM,5485419417,NaN,NaN,NaN,NaN
46,Curacao,CUW,3127908045,NaN,NaN,NaN,NaN
69,Greenland,GRL,3051626390,NaN,NaN,NaN,NaN
71,Guam,GUM,5920000000,NaN,NaN,NaN,NaN
78,"Hong Kong SAR, China",HKG,3.62E+11,NaN,NaN,NaN,NaN
92,Kiribati,KIR,196737896,NaN,NaN,NaN,NaN
94,Kosovo,XKX,7942961738,NaN,NaN,NaN,NaN
105,"Macao SAR, China",MAC,55084050790,NaN,NaN,NaN,NaN
112,Marshall Islands,MHL,221278000,NaN,NaN,NaN,NaN
116,"Micronesia, Fed. Sts.",FSM,401932300,NaN,NaN,NaN,NaN
125,Nauru,NRU,124021393.7,NaN,NaN,NaN,NaN
133,Northern Mariana Islands,MNP,1323000000,NaN,NaN,NaN,NaN
137,Palau,PLW,283994900,NaN,NaN,NaN,NaN
145,Puerto Rico,PRI,1.01E+11,NaN,NaN,NaN,NaN
150,Samoa,WSM,820491817.3,NaN,NaN,NaN,NaN
161,Solomon Islands,SLB,1395608475,NaN,NaN,NaN,NaN
177,Tonga,TON,450353313.9,NaN,NaN,NaN,NaN
181,Turkmenistan,TKM,40761142857,NaN,NaN,NaN,NaN
182,Turks and Caicos Islands,TCA,1022312010,NaN,NaN,NaN,NaN
183,Tuvalu,TUV,42588164.97,NaN,NaN,NaN,NaN
191,Vanuatu,VUT,906050107,NaN,NaN,NaN,NaN

In [347]:
# drop nulls where there is no JH data - logic:
#This analysis is of case data:
# 1.coutries without case data do not contribute to the analysis 
# 2. The dataset was joined on the iso3, which provides an exact match between datasets
WB_JH_merge_df = WB_JH_merge_df[WB_JH_merge_df["JH Deaths"].notnull()]
# Replace blank Country Names with name
WB_JH_merge_df["Country Name"].fillna(WB_JH_merge_df["name"], inplace=True)
# Fix minor Country Name value issues
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Taiwan*", "Taiwan")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Korea, Rep.", "South Korea")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Gambia, The", "Gambia")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("St. Lucia", "Saint Lucia")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Egypt, Arab Rep.", "Egypt")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Yemen, Rep.", "Yemen")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Congo, Dem. Rep.", "Democratic Republic of the Congo")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Congo, Rep.", "Republic of the Congo")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Kyrgyz Republic", "Kyrgyzstan")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Bahamas, The", "The Bahamas")
WB_JH_merge_df["Country Name"]= WB_JH_merge_df["Country Name"].replace("Congo, Rep.", "Republic of the Congo")
WB_JH_merge_df.head()

,Country Name,Country Code,2018 [YR2018],name,JH Deaths,JH Confirmed,JH Recovered
0,Afghanistan,AFG,19484384937,Afghanistan,1426,38815,32098
1,Albania,ALB,15147020535,Albania,340,11672,6668
2,Algeria,DZA,1.74E+11,Algeria,1632,48734,34385
4,Andorra,AND,3218316013,Andorra,53,1438,945
5,Angola,AGO,1.01E+11,Angola,139,3569,1332

In [348]:
# export merged dataframe to csv
output_path = os.path.join("..","source_data","temp.csv")
WB_JH_merge_df.to_csv(output_path)

In [349]:
countries_not_on_WB = WB_JH_merge_df[WB_JH_merge_df["Country Name"].isnull()]
countries_not_on_WB.shape

(0, 7)

In [359]:
# Read population table from wiki
WIKI_population_df = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population_density")
# Return the first table in the list of tables
WIKI_population_df = WIKI_population_df[0]
# use join to rename double header of table
WIKI_population_df.columns = ["_".join(col) for col in WIKI_population_df.columns]
# remove rows that represent the double footer
WIKI_population_df = WIKI_population_df[WIKI_population_df["Rank_Rank"] != "Rank"]
# rename columns
WIKI_population_df.rename(columns={"Rank_Rank": "Rank", "Country (or dependent territory)_Country (or dependent territory)": "Country Name","Area_km2": "Area (km2)","Area_mi2": "Area (mi2)","Population_Population": "Population"}, inplace=True)
WIKI_population_df.rename(columns={"Density_pop./km2": "Population Density (km2)","Density_pop./mi2": "Population Density (mi2)"}, inplace=True)
# limit the df to the necessary columns
WIKI_population_df = WIKI_population_df[["Country Name", "Area (mi2)" , "Population", "Population Density (mi2)"]]
WIKI_population_df
# normalize WIKI_population Country Name values
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Vatican City[note 1]", "Holy See")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Kosovo[note 2]", "Kosovo")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Slovakia", "Slovak Republic")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Saint Vincent and the Grenadines", "St. Vincent and the Grenadines")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Saint Kitts and Nevis", "St. Kitts and Nevis")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("São Tomé and Príncipe", "Sao Tome and Principe")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Northern Cyprus[note 4]", "Cyprus")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Ivory Coast", "Cote d'Ivoire")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Ukraine [note 5]", "Ukraine")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Eswatini (Swaziland)", "Eswatini")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Brunei", "Brunei Darussalam")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Bahamas", "The Bahamas")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Uruguay[note 7][clarification needed]", "Uruguay")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Somaliland[note 8]", "Somalia")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Russia[note 11]", "Russian Federation")
WIKI_population_df["Country Name"]= WIKI_population_df["Country Name"].replace("Western Sahara[note 12]", "Western Sahara")

In [360]:
# merge WB_JH_merge_df with WIKI_population_df
WB_JH_WIKI_merge_df = pd.merge(WB_JH_merge_df,WIKI_population_df,on="Country Name",how="outer")
WB_JH_WIKI_merge_df.head()

,Country Name,Country Code,2018 [YR2018],name,JH Deaths,JH Confirmed,JH Recovered,Area (mi2),Population,Population Density (mi2)
0,Afghanistan,AFG,19484384937,Afghanistan,1426,38815,32098,249347,31575018,127
1,Albania,ALB,15147020535,Albania,340,11672,6668,11082,2862427,258
2,Algeria,DZA,1.74E+11,Algeria,1632,48734,34385,919595,43000000,47
3,Andorra,AND,3218316013,Andorra,53,1438,945,179,76177,425
4,Angola,AGO,1.01E+11,Angola,139,3569,1332,481354,29250009,61

In [361]:
WB_JH_WIKI_NaNs = WB_JH_WIKI_merge_df[WB_JH_WIKI_merge_df["Country Code"].isnull()]
WB_JH_WIKI_NaNs.tail(50)

,Country Name,Country Code,2018 [YR2018],name,JH Deaths,JH Confirmed,JH Recovered,Area (mi2),Population,Population Density (mi2)
208,Guam (United States),NaN,NaN,NaN,NaN,NaN,NaN,209,175200,839
209,Marshall Islands,NaN,NaN,NaN,NaN,NaN,NaN,70,55900,800
210,United States Virgin Islands (United States),NaN,NaN,NaN,NaN,NaN,NaN,136,104909,772
211,American Samoa (United States),NaN,NaN,NaN,NaN,NaN,NaN,76,57100,751
212,Cayman Islands (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,100,65813,658
213,Guadeloupe (France),NaN,NaN,NaN,NaN,NaN,NaN,629,390253,621
214,British Virgin Islands (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,58,32206,552
215,North Korea,NaN,NaN,NaN,NaN,NaN,NaN,46541,25549604,549
216,Kiribati,NaN,NaN,NaN,NaN,NaN,NaN,313,125000,399
217,Sint Eustatius (Netherlands),NaN,NaN,NaN,NaN,NaN,NaN,8,3193,394
218,Federated States of Micronesia,NaN,NaN,NaN,NaN,NaN,NaN,271,105600,390
219,Saba (Netherlands),NaN,NaN,NaN,NaN,NaN,NaN,5,1947,388
220,Isle of Man (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,221,83314,377
221,Tokelau (New Zealand),NaN,NaN,NaN,NaN,NaN,NaN,4,1400,363
222,Anguilla (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,37,13452,363
223,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,278,100000,360
224,Cape Verde,NaN,NaN,NaN,NaN,NaN,NaN,1557,550483,354
225,Northern Mariana Islands (United States),NaN,NaN,NaN,NaN,NaN,NaN,176,56600,321
226,Transnistria[note 3],NaN,NaN,NaN,NaN,NaN,NaN,1607,469000,292
227,Wallis & Futuna (France),NaN,NaN,NaN,NaN,NaN,NaN,55,11600,212
228,French Polynesia (France),NaN,NaN,NaN,NaN,NaN,NaN,1359,280600,206
229,Turks and Caicos Islands (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,192,37910,198
230,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,1093,199300,182
231,Bonaire (Netherlands),NaN,NaN,NaN,NaN,NaN,NaN,111,18905,170
232,Cook Islands (New Zealand),NaN,NaN,NaN,NaN,NaN,NaN,92,15250,167
233,"World (land only, excluding Antarctica)",NaN,NaN,NaN,NaN,NaN,NaN,52100000,7813394000,150
234,World (land only),NaN,NaN,NaN,NaN,NaN,NaN,57510000,7813394000,136
235,Norfolk Island (Australia),NaN,NaN,NaN,NaN,NaN,NaN,14,1748,129
236,Montserrat (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,39,4922,125
237,Palau,NaN,NaN,NaN,NaN,NaN,NaN,171,17900,104
238,Cocos (Keeling) Islands (Australia),NaN,NaN,NaN,NaN,NaN,NaN,5,544,101
239,Faroe Islands (Denmark),NaN,NaN,NaN,NaN,NaN,NaN,540,50844,89
240,Abkhazia[note 6],NaN,NaN,NaN,NaN,NaN,NaN,3344,243206,73
241,Laos,NaN,NaN,NaN,NaN,NaN,NaN,91429,6492400,71
242,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,4742,304500,64
243,Saint Pierre and Miquelon (France),NaN,NaN,NaN,NaN,NaN,NaN,2605,5997,64
244,Solomon Islands,NaN,NaN,NaN,NaN,NaN,NaN,10954,682500,62
245,Åland Islands (Finland),NaN,NaN,NaN,NaN,NaN,NaN,599,29789,50
246,Christmas Island (Australia),NaN,NaN,NaN,NaN,NaN,NaN,53,2072,39
247,"Saint Helena, Ascension and Tristan da Cunha (...",NaN,NaN,NaN,NaN,NaN,NaN,152,5633,37
248,New Caledonia (France),NaN,NaN,NaN,NaN,NaN,NaN,7172,258958,36
249,South Ossetia[note 9],NaN,NaN,NaN,NaN,NaN,NaN,1506,53532,36
250,Artsakh[note 10],NaN,NaN,NaN,NaN,NaN,NaN,4424,150932,34
251,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,189657,5851466,31
252,Niue (New Zealand),NaN,NaN,NaN,NaN,NaN,NaN,101,1613,16
253,French Guiana (France),NaN,NaN,NaN,NaN,NaN,NaN,33399,268700,8.1
254,Pitcairn Islands (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,18,56,3.1
255,Falkland Islands (United Kingdom),NaN,NaN,NaN,NaN,NaN,NaN,4700,2563,0.54
256,Svalbard and Jan Mayen (Norway),NaN,NaN,NaN,NaN,NaN,NaN,23706,2655,0.10
257,Greenland (Denmark),NaN,NaN,NaN,NaN,NaN,NaN,836297,55877,0.08

In [366]:
# All nulls below have been researched and name normalization has been completed
clean_data_by_country = WB_JH_WIKI_merge_df.dropna()
# Final data cleaning
del clean_data_by_country["name"]
clean_data_by_country.rename(columns={"2018 [YR2018]": "2018 GDP"}, inplace=True)
clean_data_by_country

D:\Users\mcbie\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Country Name,Country Code,2018 GDP,JH Deaths,JH Confirmed,JH Recovered,Area (mi2),Population,Population Density (mi2)
0,Afghanistan,AFG,19484384937,1426,38815,32098,249347,31575018,127
1,Albania,ALB,15147020535,340,11672,6668,11082,2862427,258
2,Algeria,DZA,1.74E+11,1632,48734,34385,919595,43000000,47
3,Andorra,AND,3218316013,53,1438,945,179,76177,425
4,Angola,AGO,1.01E+11,139,3569,1332,481354,29250009,61
...,...,...,...,...,...,...,...,...,...
170,Uzbekistan,UZB,50392607758,402,48429,44942,172742,32653900,189
171,Vietnam,VNM,2.45E+11,35,1063,931,127882,96208984,752
173,Yemen,YEM,27591261663,583,2016,1219,175676,28915284,165
174,Zambia,ZMB,27005238896,324,13819,12590,290585,16405229,56
175,Zimbabwe,ZWE,24311560500,224,7576,5783,150872,15159624,100

https://public.opendatasoft.com/explore/dataset/countries-codes/export/

In [392]:
# Import world_bank_data.csv
file_path = os.path.join("..","source_data","countries-codes.xlsx")
country_codes = pd.read_excel(file_path)

FileNotFoundError: [Errno 2] No such file or directory: '..\\source_data\\countries-codes.xlsx'

In [385]:
print(country_codes)

    ISO3 CODE                      LABEL EN  \
0         SSD  South Sudan, The Republic of
1         TUR                        Turkey
2         CHN                         China
3         LBY        Libyan Arab Jamahiriya
4         GNB                 Guinea-Bissau
..        ...                           ...
242       TCA      Turks and Caicos Islands
243       BEL                       Belgium
244       OMN                          Oman
245       VNM                      Viet Nam
246       PSE      West Bank and Gaza Strip

                                             Geo Shape  \
0                                                  NaN
1    {"type": "MultiPolygon", "coordinates": [[[[26...
2    {"type": "MultiPolygon", "coordinates": [[[[11...
3    {"type": "Polygon", "coordinates": [[[19.29167...
4    {"type": "MultiPolygon", "coordinates": [[[[-1...
..                                                 ...
242  {"type": "MultiPolygon", "coordinates": [[[[-7...
243  {"type": "Polygon", "coordinates": [[[4.815447...
244  {"type": "MultiPolygon", "coordinates": [[[[55...
245  {"type": "MultiPolygon", "coordinates": [[[[10...
246                                                NaN

                      geo_point_2d
0                              NaN
1     39.0610307894, 35.1672670068
2     36.5602062669, 103.831751251
3     27.0303685218, 18.0095950102
4    12.0276495691, -14.9767869834
..                             ...
242  21.7821634171, -71.8817069548
243   50.6375465936, 4.63966996313
244     20.60210016, 56.0925824468
245   16.6428226166, 106.301132488
246                            NaN

[247 rows x 4 columns]

CDC Data with Ethnicity: https://dev.socrata.com/foundry/data.cdc.gov/vbim-akqf

In [394]:
# Import CDC Data from CSV
file_path = os.path.join("..","source_data","COVID-19_Case_Surveillance_Public_Use_Data.txt")
cdc_raw_data = pd.read_csv(file_path)

FileNotFoundError: [Errno 2] File ..\source_data\COVID-19_Case_Surveillance_Public_Use_Data.txt does not exist: '..\\source_data\\COVID-19_Case_Surveillance_Public_Use_Data.txt'

In [368]:
cdc_raw_data.head()

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,Race and ethnicity (combined),hosp_yn,icu_yn,death_yn,medcond_yn
0,2020/03/03,2020/03/03,NaN,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
1,2020/03/03,2020/03/03,NaN,Laboratory-confirmed case,Female,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
2,2020/04/07,2020/03/03,2020/03/03,Laboratory-confirmed case,Unknown,0 - 9 Years,Unknown,No,Missing,Missing,Missing
3,2020/08/04,2020/08/04,NaN,Probable Case,Male,0 - 9 Years,Unknown,Missing,Missing,Missing,Missing
4,2020/07/28,2020/08/04,2020/07/28,Laboratory-confirmed case,Male,0 - 9 Years,Unknown,No,No,No,Missing

In [373]:
df.groupby(['col5','col2']).reset_index()

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,Race and ethnicity (combined),hosp_yn,icu_yn,medcond_yn
death_yn,,,,,,,,,,
Missing,1231997,390842,300702,1231997,1231988,1231961,1231993,1231997,1231997,1231997
No,1644402,532951,1233918,1644402,1644395,1644357,1644401,1644402,1644402,1644402
Unknown,660056,354804,289467,660056,660054,660049,660055,660056,660056,660056
Yes,125870,51986,65540,125870,125870,125864,125870,125870,125870,125870