# Project 1

## Group One: Covid 19 | Part One: Data Cleansing

Team Members: Michael Bien, Lupita Lopez, Jinah Porter, Debra Wu

### Research Questions to Answer:

1. WORLD: Compare COVID deaths by GDP by Country: Does a higher GDP result in a lower number of COVID deaths?

2. US: Examine death rates by age group and determine is children under 10 die at a lower rate, adults 60+ at a higher rate

3. US: Compare cases/deaths by state

4. US: Does pre-COVID state GDP related to the cases/deaths in a given state

5. March shutdown, 4th of July and Memorial Day: compare 2 months of shutdown vs. reopening: how did reopening affect case and death rates? 

6. US: Is there a relationship between COVID cases/deaths and gender?

7. US: Is there a relationship between COVID cases/deaths and ethnicity?

In [14]:
#import
import pandas as pd
import matplotlib.pyplot as plt
import os
import requests
import numpy as np
import requests
import gmaps
from pprint import pprint

In [32]:
data = pd.read_csv("data_cdc.csv")
data.head(10)

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,9/9/20,2/1/20,9/5/20,United States,All Sexes,All Ages,"175,866","1,894,447","180,095","78,446","6,671","283,199",NaN
1,9/9/20,2/1/20,9/5/20,United States,All Sexes,Under 1 year,19,"10,513",99,3,16,131,NaN
2,9/9/20,2/1/20,9/5/20,United States,All Sexes,0-17 years,88,"18,631",296,17,123,490,NaN
3,9/9/20,2/1/20,9/5/20,United States,All Sexes,1-4 years,14,"2,021",70,2,42,124,NaN
4,9/9/20,2/1/20,9/5/20,United States,All Sexes,5-14 years,29,"3,110",94,8,52,167,NaN
5,9/9/20,2/1/20,9/5/20,United States,All Sexes,15-24 years,315,"19,998",402,111,53,655,NaN
6,9/9/20,2/1/20,9/5/20,United States,All Sexes,18-29 years,765,"35,561",963,315,100,"1,503",NaN
7,9/9/20,2/1/20,9/5/20,United States,All Sexes,25-34 years,"1,360","41,370","1,513",606,151,"2,404",NaN
8,9/9/20,2/1/20,9/5/20,United States,All Sexes,30-49 years,"8,024","124,473","7,476","3,560",565,"12,427",NaN
9,9/9/20,2/1/20,9/5/20,United States,All Sexes,35-44 years,"3,542","58,523","3,377","1,547",247,"5,590",NaN