# Project 1

## Group One: Covid 19 | Part One: Data Cleansing

Team Members: Michael Bien, Lupita Lopez, Jinah Porter, Debra Wu

### Research Questions to Answer:

1. WORLD: Compare COVID deaths by GDP by Country: Does a higher GDP result in a lower number of COVID deaths?

2. US: Examine death rates by age group and determine is children under 10 die at a lower rate, adults 60+ at a higher rate

3. US: Compare cases/deaths by state

4. US: Does pre-COVID state GDP related to the cases/deaths in a given state

5. March shutdown, 4th of July and Memorial Day: compare 2 months of shutdown vs. reopening: how did reopening affect case and death rates? 

6. US: Is there a relationship between COVID cases/deaths and gender?

7. US: Is there a relationship between COVID cases/deaths and ethnicity?

In [42]:
#Import necessary libraries
import pandas as pd
import os
import requests
import numpy as np
import requests
from pprint import pprint
import json

Import World Bank data by Country; source: https://databank.worldbank.org/reports.aspx?source=2&series=NY.GDP.MKTP.CD&country=#

In [43]:
# Import world_bank_data.csv
file_path = os.path.join("..","source_data","world_bank_data.csv")
world_bank_df = pd.read_csv(file_path)
print(world_bank_df.shape)
world_bank_df.head()

(264, 3)

     Country Name Country Code 2018 [YR2018]
0     Afghanistan          AFG   19484384937
1         Albania          ALB   15147020535
2         Algeria          DZA      1.74E+11
3  American Samoa          ASM     636000000
4         Andorra          AND    3218316013

Johns Hopkins Country Data with iso: https://documenter.getpostman.com/view/10724784/SzYXWz3x?version=latest

In [45]:
# Grab Johns Hopkins country list with 3 character country code
JH_countries = requests.get("https://covid-api.com/api/regions").json()
JH_countries_list_df = pd.DataFrame(JH_countries["data"])
JH_countries_list_df = JH_countries_list_df[["name","iso"]]
JH_countries_list_df = JH_countries_list_df.sort_values(by='name', ascending=True)

In [46]:
# create empty columns for deaths, confirmed, recovered
JH_countries_list_df["JH Deaths"] = ""
JH_countries_list_df["JH Confirmed"] = ""
JH_countries_list_df["JH Recovered"] = ""
# create empty list to gather country lookuop errors
JH_country_no_data = []

# John Hopkins base url
base_url = "https://covid19-stats-api.herokuapp.com/api/v1/cases?country="
for index,row in JH_countries_list_df.iterrows():
    country_lookup = row["name"]
    request_url = base_url + country_lookup
    response = requests.get(request_url).json()
    try:
        confirm_JH = response["confirmed"]
        row["JH Confirmed"] = confirm_JH
        death_JH = response["deaths"]
        row["JH Deaths"] = death_JH
        recovered_JH = response["recovered"]
        row["JH Recovered"] = recovered_JH
        print(f"Processing country | {country_lookup} | {response}")
        
    except KeyError:
        print(f"<<Data not found for {country_lookup}")
        JH_country_no_data.append(country_lookup)
        pass

Processing country | Afghanistan | {'confirmed': 38716, 'deaths': 1420, 'recovered': 31638}
Processing country | Albania | {'confirmed': 11353, 'deaths': 334, 'recovered': 6569}
Processing country | Algeria | {'confirmed': 48254, 'deaths': 1612, 'recovered': 34037}
Processing country | Andorra | {'confirmed': 1344, 'deaths': 53, 'recovered': 943}
Processing country | Angola | {'confirmed': 3388, 'deaths': 134, 'recovered': 1301}
Processing country | Antigua and Barbuda | {'confirmed': 95, 'deaths': 3, 'recovered': 91}
Processing country | Argentina | {'confirmed': 555537, 'deaths': 11352, 'recovered': 419513}
Processing country | Armenia | {'confirmed': 45862, 'deaths': 916, 'recovered': 41659}
<<Data not found for Aruba
Processing country | Australia | {'confirmed': 26692, 'deaths': 816, 'recovered': 23463}
Processing country | Austria | {'confirmed': 33159, 'deaths': 756, 'recovered': 26760}
Processing country | Azerbaijan | {'confirmed': 38327, 'deaths': 562, 'recovered': 35756}
Processing country | Bahamas | {'confirmed': 2928, 'deaths': 67, 'recovered': 1319}
Processing country | Bahrain | {'confirmed': 60307, 'deaths': 212, 'recovered': 53681}
Processing country | Bangladesh | {'confirmed': 337520, 'deaths': 4733, 'recovered': 240643}
Processing country | Barbados | {'confirmed': 181, 'deaths': 7, 'recovered': 164}
Processing country | Belarus | {'confirmed': 74173, 'deaths': 750, 'recovered': 72584}
Processing country | Belgium | {'confirmed': 93455, 'deaths': 9925, 'recovered': 18723}
Processing country | Belize | {'confirmed': 1493, 'deaths': 21, 'recovered': 492}
Processing country | Benin | {'confirmed': 2267, 'deaths': 40, 'recovered': 1942}
Processing country | Bhutan | {'confirmed': 245, 'deaths': 0, 'recovered': 161}
Processing country | Bolivia | {'confirmed': 126791, 'deaths': 7344, 'recovered': 84286}
Processing country | Bosnia and Herzegovina | {'confirmed': 23465, 'deaths': 696, 'recovered': 16038}
Processing country | Botswana | {'confirmed': 2252, 'deaths': 10, 'recovered': 546}
Processing country | Brazil | {'confirmed': 4602340, 'deaths': 149608, 'recovered': 4107149}
Processing country | Brunei | {'confirmed': 145, 'deaths': 3, 'recovered': 139}
Processing country | Bulgaria | {'confirmed': 17918, 'deaths': 720, 'recovered': 12767}
Processing country | Burkina Faso | {'confirmed': 1707, 'deaths': 56, 'recovered': 1135}
Processing country | Burma | {'confirmed': 3015, 'deaths': 24, 'recovered': 699}
Processing country | Burundi | {'confirmed': 472, 'deaths': 1, 'recovered': 374}
Processing country | Cabo Verde | {'confirmed': 4813, 'deaths': 44, 'recovered': 4119}
Processing country | Cambodia | {'confirmed': 275, 'deaths': 0, 'recovered': 274}
Processing country | Cameroon | {'confirmed': 20167, 'deaths': 415, 'recovered': 18837}
Processing country | Canada | {'confirmed': 138658, 'deaths': 9220, 'recovered': 157448}
<<Data not found for Cayman Islands
Processing country | Central African Republic | {'confirmed': 4749, 'deaths': 62, 'recovered': 1825}
Processing country | Chad | {'confirmed': 1084, 'deaths': 80, 'recovered': 938}
<<Data not found for Channel Islands
Processing country | Chile | {'confirmed': 484327, 'deaths': 12458, 'recovered': 427833}
Processing country | China | {'confirmed': 90197, 'deaths': 4734, 'recovered': 85086}
Processing country | Colombia | {'confirmed': 740423, 'deaths': 23727, 'recovered': 605496}
Processing country | Comoros | {'confirmed': 456, 'deaths': 7, 'recovered': 415}
Processing country | Congo (Brazzaville) | {'confirmed': 4928, 'deaths': 88, 'recovered': 3887}
Processing country | Congo (Kinshasa) | {'confirmed': 10390, 'deaths': 264, 'recovered': 9756}
Processing country | Costa Rica | {'confirmed': 55454, 'deaths': 590, 'recovered': 20928}
Processing country | Cote d'Ivoire | {'confirmed': 19013, 'deaths': 120, 'recovered': 18112}
Processing country | Croatia | {'confirmed': 13533, 'deaths': 224, 'recovered': 10899}
<<Data not found for Cruise Ship
Processing country | Cuba | {'confirmed': 4684, 'deaths': 108, 'recovered': 3930}
<<Data not found for Curacao
Processing country | Cyprus | {'confirmed': 1526, 'deaths': 22, 'recovered': 1281}
Processing country | Czechia | {'confirmed': 36188, 'deaths': 456, 'recovered': 21294}
Processing country | Denmark | {'confirmed': 20327, 'deaths': 631, 'recovered': 16757}
Processing country | Diamond Princess | {'confirmed': 712, 'deaths': 13, 'recovered': 651}
Processing country | Djibouti | {'confirmed': 5395, 'deaths': 61, 'recovered': 5330}
Processing country | Dominica | {'confirmed': 24, 'deaths': 0, 'recovered': 18}
Processing country | Dominican Republic | {'confirmed': 103660, 'deaths': 1968, 'recovered': 77182}
Processing country | Ecuador | {'confirmed': 118594, 'deaths': 10903, 'recovered': 97063}
Processing country | Egypt | {'confirmed': 101009, 'deaths': 5648, 'recovered': 84161}
Processing country | El Salvador | {'confirmed': 26928, 'deaths': 785, 'recovered': 18397}
Processing country | Equatorial Guinea | {'confirmed': 4996, 'deaths': 83, 'recovered': 4490}
Processing country | Eritrea | {'confirmed': 361, 'deaths': 0, 'recovered': 304}
Processing country | Estonia | {'confirmed': 2676, 'deaths': 64, 'recovered': 2256}
Processing country | Eswatini | {'confirmed': 5075, 'deaths': 98, 'recovered': 4229}
Processing country | Ethiopia | {'confirmed': 64301, 'deaths': 1013, 'recovered': 24983}
<<Data not found for Faroe Islands
Processing country | Fiji | {'confirmed': 32, 'deaths': 2, 'recovered': 24}
Processing country | Finland | {'confirmed': 8580, 'deaths': 337, 'recovered': 7500}
Processing country | France | {'confirmed': 532547, 'deaths': 44735, 'recovered': 116836}
<<Data not found for French Guiana
Processing country | Gabon | {'confirmed': 8643, 'deaths': 53, 'recovered': 7706}
Processing country | Gambia | {'confirmed': 3405, 'deaths': 103, 'recovered': 1723}
Processing country | Georgia | {'confirmed': 2227, 'deaths': 19, 'recovered': 1369}
Processing country | Germany | {'confirmed': 435835, 'deaths': 17215, 'recovered': 381241}
Processing country | Ghana | {'confirmed': 45434, 'deaths': 286, 'recovered': 44342}
<<Data not found for Gibraltar
Processing country | Greece | {'confirmed': 13240, 'deaths': 305, 'recovered': 1347}
<<Data not found for Greenland
Processing country | Grenada | {'confirmed': 24, 'deaths': 0, 'recovered': 24}
<<Data not found for Guadeloupe
<<Data not found for Guam
Processing country | Guatemala | {'confirmed': 81909, 'deaths': 2957, 'recovered': 70927}
<<Data not found for Guernsey
Processing country | Guinea | {'confirmed': 10045, 'deaths': 63, 'recovered': 9292}
Processing country | Guinea-Bissau | {'confirmed': 2275, 'deaths': 39, 'recovered': 1127}
Processing country | Guyana | {'confirmed': 1853, 'deaths': 56, 'recovered': 1215}
Processing country | Haiti | {'confirmed': 8493, 'deaths': 219, 'recovered': 6120}
Processing country | Holy See | {'confirmed': 12, 'deaths': 0, 'recovered': 12}
Processing country | Honduras | {'confirmed': 67789, 'deaths': 2079, 'recovered': 17873}
Processing country | Hungary | {'confirmed': 12309, 'deaths': 637, 'recovered': 4069}
Processing country | Iceland | {'confirmed': 2165, 'deaths': 10, 'recovered': 2092}
Processing country | India | {'confirmed': 5020306, 'deaths': 86059, 'recovered': 3831692}
Processing country | Indonesia | {'confirmed': 218382, 'deaths': 8723, 'recovered': 155010}
Processing country | Iran | {'confirmed': 402029, 'deaths': 23157, 'recovered': 346242}
Processing country | Iraq | {'confirmed': 290309, 'deaths': 8014, 'recovered': 224705}
Processing country | Ireland | {'confirmed': 30985, 'deaths': 1784, 'recovered': 23364}
Processing country | Israel | {'confirmed': 155604, 'deaths': 1119, 'recovered': 114998}
Processing country | Italy | {'confirmed': 509857, 'deaths': 66716, 'recovered': 326175}
Processing country | Jamaica | {'confirmed': 3771, 'deaths': 42, 'recovered': 1149}
Processing country | Japan | {'confirmed': 92297, 'deaths': 2306, 'recovered': 80497}
<<Data not found for Jersey
Processing country | Jordan | {'confirmed': 3314, 'deaths': 24, 'recovered': 2206}
Processing country | Kazakhstan | {'confirmed': 106855, 'deaths': 1634, 'recovered': 100627}
Processing country | Kenya | {'confirmed': 36157, 'deaths': 622, 'recovered': 23067}
Processing country | Korea, South | {'confirmed': 22285, 'deaths': 363, 'recovered': 18489}
Processing country | Kosovo | {'confirmed': 12683, 'deaths': 488, 'recovered': 8788}
Processing country | Kuwait | {'confirmed': 94764, 'deaths': 560, 'recovered': 84995}
Processing country | Kyrgyzstan | {'confirmed': 44881, 'deaths': 1063, 'recovered': 40922}
Processing country | Laos | {'confirmed': 23, 'deaths': 0, 'recovered': 21}
Processing country | Latvia | {'confirmed': 1474, 'deaths': 35, 'recovered': 1248}
Processing country | Lebanon | {'confirmed': 24310, 'deaths': 241, 'recovered': 8334}
Processing country | Lesotho | {'confirmed': 1245, 'deaths': 33, 'recovered': 528}
Processing country | Liberia | {'confirmed': 1319, 'deaths': 82, 'recovered': 1210}
Processing country | Libya | {'confirmed': 22781, 'deaths': 362, 'recovered': 12183}
Processing country | Liechtenstein | {'confirmed': 111, 'deaths': 1, 'recovered': 105}
Processing country | Lithuania | {'confirmed': 3335, 'deaths': 87, 'recovered': 2070}
Processing country | Luxembourg | {'confirmed': 7159, 'deaths': 124, 'recovered': 6421}
Processing country | MS Zaandam | {'confirmed': 18, 'deaths': 4, 'recovered': 0}
<<Data not found for Macao SAR
Processing country | Madagascar | {'confirmed': 15757, 'deaths': 211, 'recovered': 14368}
Processing country | Malawi | {'confirmed': 5690, 'deaths': 177, 'recovered': 3731}
Processing country | Malaysia | {'confirmed': 9915, 'deaths': 128, 'recovered': 9196}
Processing country | Maldives | {'confirmed': 9173, 'deaths': 32, 'recovered': 7326}
Processing country | Mali | {'confirmed': 2924, 'deaths': 128, 'recovered': 2285}
Processing country | Malta | {'confirmed': 2352, 'deaths': 15, 'recovered': 1872}
<<Data not found for Martinique
Processing country | Mauritania | {'confirmed': 7283, 'deaths': 162, 'recovered': 6827}
Processing country | Mauritius | {'confirmed': 361, 'deaths': 10, 'recovered': 335}
<<Data not found for Mayotte
Processing country | Mexico | {'confirmed': 722727, 'deaths': 76487, 'recovered': 594706}
Processing country | Moldova | {'confirmed': 42978, 'deaths': 1123, 'recovered': 30437}
Processing country | Monaco | {'confirmed': 171, 'deaths': 1, 'recovered': 128}
Processing country | Mongolia | {'confirmed': 311, 'deaths': 0, 'recovered': 300}
Processing country | Montenegro | {'confirmed': 6712, 'deaths': 120, 'recovered': 4507}
Processing country | Morocco | {'confirmed': 86686, 'deaths': 1578, 'recovered': 67528}
Processing country | Mozambique | {'confirmed': 5269, 'deaths': 35, 'recovered': 2960}
Processing country | Namibia | {'confirmed': 9719, 'deaths': 101, 'recovered': 6543}
Processing country | Nepal | {'confirmed': 54159, 'deaths': 345, 'recovered': 38697}
Processing country | Netherlands | {'confirmed': 137227, 'deaths': 12429, 'recovered': 2036}
Processing country | New Zealand | {'confirmed': 1798, 'deaths': 24, 'recovered': 1678}
Processing country | Nicaragua | {'confirmed': 4818, 'deaths': 144, 'recovered': 2913}
Processing country | Niger | {'confirmed': 1180, 'deaths': 69, 'recovered': 1104}
Processing country | Nigeria | {'confirmed': 56256, 'deaths': 1082, 'recovered': 44152}
Processing country | North Macedonia | {'confirmed': 15791, 'deaths': 648, 'recovered': 13184}
Processing country | Norway | {'confirmed': 12154, 'deaths': 265, 'recovered': 10371}
Processing country | Oman | {'confirmed': 89746, 'deaths': 780, 'recovered': 83771}
<<Data not found for Others
Processing country | Pakistan | {'confirmed': 410337, 'deaths': 8555, 'recovered': 324824}
Processing country | Panama | {'confirmed': 101745, 'deaths': 2166, 'recovered': 74107}
Processing country | Papua New Guinea | {'confirmed': 510, 'deaths': 6, 'recovered': 232}
Processing country | Paraguay | {'confirmed': 27817, 'deaths': 525, 'recovered': 14288}
Processing country | Peru | {'confirmed': 858737, 'deaths': 34509, 'recovered': 615490}
Processing country | Philippines | {'confirmed': 261216, 'deaths': 4371, 'recovered': 207568}
Processing country | Poland | {'confirmed': 74152, 'deaths': 2188, 'recovered': 60659}
Processing country | Portugal | {'confirmed': 63983, 'deaths': 1867, 'recovered': 44069}
<<Data not found for Puerto Rico
Processing country | Qatar | {'confirmed': 121740, 'deaths': 205, 'recovered': 118682}
<<Data not found for Reunion
Processing country | Romania | {'confirmed': 103495, 'deaths': 4163, 'recovered': 43025}
Processing country | Russia | {'confirmed': 1464867, 'deaths': 23210, 'recovered': 1045567}
Processing country | Rwanda | {'confirmed': 4591, 'deaths': 22, 'recovered': 2556}
<<Data not found for Saint Barthelemy
Processing country | Saint Kitts and Nevis | {'confirmed': 17, 'deaths': 0, 'recovered': 17}
Processing country | Saint Lucia | {'confirmed': 27, 'deaths': 0, 'recovered': 26}
<<Data not found for Saint Martin
Processing country | Saint Vincent and the Grenadines | {'confirmed': 64, 'deaths': 0, 'recovered': 61}
Processing country | San Marino | {'confirmed': 722, 'deaths': 42, 'recovered': 662}
Processing country | Sao Tome and Principe | {'confirmed': 906, 'deaths': 15, 'recovered': 870}
Processing country | Saudi Arabia | {'confirmed': 325651, 'deaths': 4268, 'recovered': 302870}
Processing country | Senegal | {'confirmed': 14280, 'deaths': 297, 'recovered': 10520}
Processing country | Serbia | {'confirmed': 32408, 'deaths': 733, 'recovered': 0}
Processing country | Seychelles | {'confirmed': 139, 'deaths': 0, 'recovered': 136}
Processing country | Sierra Leone | {'confirmed': 2109, 'deaths': 72, 'recovered': 1636}
Processing country | Singapore | {'confirmed': 57406, 'deaths': 27, 'recovered': 56764}
Processing country | Slovakia | {'confirmed': 5532, 'deaths': 38, 'recovered': 3124}
Processing country | Slovenia | {'confirmed': 3702, 'deaths': 135, 'recovered': 2730}
Processing country | Somalia | {'confirmed': 3389, 'deaths': 98, 'recovered': 2803}
Processing country | South Africa | {'confirmed': 649793, 'deaths': 15447, 'recovered': 577906}
Processing country | South Sudan | {'confirmed': 2578, 'deaths': 49, 'recovered': 1290}
Processing country | Spain | {'confirmed': 795017, 'deaths': 56851, 'recovered': 291199}
Processing country | Sri Lanka | {'confirmed': 3234, 'deaths': 12, 'recovered': 2996}
Processing country | Sudan | {'confirmed': 13516, 'deaths': 835, 'recovered': 6757}
Processing country | Suriname | {'confirmed': 4582, 'deaths': 93, 'recovered': 3850}
Processing country | Sweden | {'confirmed': 128388, 'deaths': 10408, 'recovered': 0}
Processing country | Switzerland | {'confirmed': 47179, 'deaths': 2021, 'recovered': 38900}
Processing country | Syria | {'confirmed': 3540, 'deaths': 155, 'recovered': 842}
<<Data not found for Taipei and environs
Processing country | Taiwan* | {'confirmed': 498, 'deaths': 7, 'recovered': 475}
Processing country | Tajikistan | {'confirmed': 9049, 'deaths': 72, 'recovered': 7816}
Processing country | Tanzania | {'confirmed': 509, 'deaths': 21, 'recovered': 183}
Processing country | Thailand | {'confirmed': 3475, 'deaths': 58, 'recovered': 3312}
Processing country | Timor-Leste | {'confirmed': 27, 'deaths': 0, 'recovered': 25}
Processing country | Togo | {'confirmed': 1572, 'deaths': 37, 'recovered': 1190}
Processing country | Trinidad and Tobago | {'confirmed': 3042, 'deaths': 53, 'recovered': 772}
Processing country | Tunisia | {'confirmed': 6635, 'deaths': 107, 'recovered': 1991}
Processing country | Turkey | {'confirmed': 291162, 'deaths': 7056, 'recovered': 258833}
Processing country | US | {'confirmed': 6808260, 'deaths': 219702, 'recovered': 2451406}
Processing country | Uganda | {'confirmed': 4799, 'deaths': 55, 'recovered': 2256}
Processing country | Ukraine | {'confirmed': 181794, 'deaths': 3947, 'recovered': 80972}
Processing country | United Arab Emirates | {'confirmed': 79489, 'deaths': 399, 'recovered': 69451}
Processing country | United Kingdom | {'confirmed': 661073, 'deaths': 82845, 'recovered': 2146}
Processing country | Uruguay | {'confirmed': 1808, 'deaths': 45, 'recovered': 1513}
Processing country | Uzbekistan | {'confirmed': 47287, 'deaths': 390, 'recovered': 43866}
Processing country | Venezuela | {'confirmed': 60540, 'deaths': 485, 'recovered': 48644}
Processing country | Vietnam | {'confirmed': 1063, 'deaths': 35, 'recovered': 918}
Processing country | West Bank and Gaza | {'confirmed': 30574, 'deaths': 221, 'recovered': 20082}
Processing country | Western Sahara | {'confirmed': 14, 'deaths': 1, 'recovered': 8}
Processing country | Yemen | {'confirmed': 2011, 'deaths': 583, 'recovered': 1212}
Processing country | Zambia | {'confirmed': 13539, 'deaths': 312, 'recovered': 12260}
Processing country | Zimbabwe | {'confirmed': 7526, 'deaths': 224, 'recovered': 5678}

In [48]:
print(JH_country_no_data)

['Aruba', 'Cayman Islands', 'Channel Islands', 'Cruise Ship', 'Curacao', 'Faroe Islands', 'French Guiana', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Jersey', 'Macao SAR', 'Martinique', 'Mayotte', 'Others', 'Puerto Rico', 'Reunion', 'Saint Barthelemy', 'Saint Martin', 'Taipei and environs']

In [49]:
#filter dataframe to find rows with blank JH Deaths
JH_no_data_df = JH_countries_list_df[JH_countries_list_df["JH Deaths"] == ""]
JH_no_data_df

                    name      iso JH Deaths JH Confirmed JH Recovered
132                Aruba      ABW
126       Cayman Islands      CYM
112      Channel Islands  GGY-JEY
115          Cruise Ship   cruise
141              Curacao      CUW
81         Faroe Islands      FRO
98         French Guiana      GUF
82             Gibraltar      GIB
159            Greenland      GRL
127           Guadeloupe      GLP
156                 Guam      GUM
145             Guernsey      GGY
136               Jersey      JEY
109            Macao SAR      MAC
100           Martinique      MTQ
161              Mayotte      MYT
30                Others   Others
157          Puerto Rico      PRI
121              Reunion      REU
79      Saint Barthelemy      BLM
110         Saint Martin      MAF
1    Taipei and environs      TWN

In [52]:
# merge World Bank and Johns Hopkins dataframes on iso
#rename columns for merge
JH_countries_list_df.rename(columns={"iso":"Country Code"}, inplace=True)
WB_JH_merge_df = pd.merge(world_bank_df,JH_countries_list_df,on="Country Code",how="outer")
# examine blank country names
cities_not_on_WB = WB_JH_merge_df[WB_JH_merge_df["Country Name"].isnull()]
cities_not_on_JH = WB_JH_merge_df[WB_JH_merge_df["name"].isnull()]
cities_not_on_JH

,Country Name,Country Code,2018 [YR2018],name,JH Deaths,JH Confirmed,JH Recovered
3,American Samoa,ASM,636000000,NaN,NaN,NaN,NaN
21,Bermuda,BMU,..,NaN,NaN,NaN,NaN
27,British Virgin Islands,VGB,..,NaN,NaN,NaN,NaN
39,Channel Islands,CHI,..,NaN,NaN,NaN,NaN
69,French Polynesia,PYF,..,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
259,Sub-Saharan Africa,SSF,1.71E+12,NaN,NaN,NaN,NaN
260,Sub-Saharan Africa (excluding high income),SSA,1.70E+12,NaN,NaN,NaN,NaN
261,Sub-Saharan Africa (IDA & IBRD countries),TSS,1.71E+12,NaN,NaN,NaN,NaN
262,Upper middle income,UMC,2.53E+13,NaN,NaN,NaN,NaN
263,World,WLD,8.64E+13,NaN,NaN,NaN,NaN

In [53]:
cities_not_on_WB

,Country Name,Country Code,2018 [YR2018],name,JH Deaths,JH Confirmed,JH Recovered
264,NaN,GGY-JEY,NaN,Channel Islands,,,
265,NaN,cruise,NaN,Cruise Ship,,,
266,NaN,NA-SHIP-DP,NaN,Diamond Princess,13,712,651
267,NaN,GUF,NaN,French Guiana,,,
268,NaN,GLP,NaN,Guadeloupe,,,
269,NaN,GGY,NaN,Guernsey,,,
270,NaN,VAT,NaN,Holy See,0,12,12
271,NaN,JEY,NaN,Jersey,,,
272,NaN,RKS,NaN,Kosovo,488,12683,8788
273,NaN,NA-SHIP-MSZ,NaN,MS Zaandam,4,18,0
274,NaN,MTQ,NaN,Martinique,,,
275,NaN,MYT,NaN,Mayotte,,,
276,NaN,Others,NaN,Others,,,
277,NaN,REU,NaN,Reunion,,,
278,NaN,BLM,NaN,Saint Barthelemy,,,
279,NaN,TWN,NaN,Taipei and environs,,,
280,NaN,TWN,NaN,Taiwan*,7,498,475
281,NaN,ESH,NaN,Western Sahara,1,14,8

In [87]:
test_df = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population_density")
len(test_df)

3

In [88]:
test_df[0]

     Rank   Country (or dependent territory)     Area          Population  \
     Rank   Country (or dependent territory)      km2     mi2  Population
0       –                      Macau (China)     32.9      13      696100
1       1                             Monaco     2.02    0.78       38300
2       2                          Singapore    722.5     279     5703600
3       –                  Hong Kong (China)     1106     427     7500700
4       –         Gibraltar (United Kingdom)      6.8     2.6       33701
..    ...                                ...      ...     ...         ...
250     –  Falkland Islands (United Kingdom)    12173    4700        2563
251     –    Svalbard and Jan Mayen (Norway)    61399   23706        2655
252     –                Greenland (Denmark)  2166000  836297       55877
253  Rank   Country (or dependent territory)      km2     mi2  Population
254  Rank   Country (or dependent territory)     Area    Area  Population

      Density                          Date            Population source
     pop./km2  pop./mi2                Date            Population source
0    21158.05     54799  September 30, 2019  Official quarterly estimate
1     18960.4     49107   December 31, 2018            Official estimate
2     7894.26     20446        July 1, 2019            Official estimate
3     6781.83     17565   December 31, 2019            Official estimate
4     4956.03     12836        July 1, 2019                UN projection
..        ...       ...                 ...                          ...
250      0.21      0.54      April 15, 2012           2012 census result
251      0.04      0.10   September 1, 2012            Official estimate
252      0.03      0.08     January 1, 2018            Official estimate
253  pop./km2  pop./mi2                Date            Population source
254   Density   Density                Date            Population source

[255 rows x 9 columns]

In [89]:
test_df = test_df[0]

In [93]:
#test_df.rename(columns={("Rank","Rank"): "Rank"})
.columns =

    R,a,n,k C,o,u,n,t,r,y, ,(,o,r, ,d,e,p,e,n,d,e,n,t, ,t,e,r,r,i,t,o,r,y,)  \
    R,a,n,k C,o,u,n,t,r,y, ,(,o,r, ,d,e,p,e,n,d,e,n,t, ,t,e,r,r,i,t,o,r,y,)
0         –                                      Macau (China)
1         1                                             Monaco
2         2                                          Singapore
3         –                                  Hong Kong (China)
4         –                         Gibraltar (United Kingdom)
..      ...                                                ...
250       –                  Falkland Islands (United Kingdom)
251       –                    Svalbard and Jan Mayen (Norway)
252       –                                Greenland (Denmark)
253    Rank                   Country (or dependent territory)
254    Rank                   Country (or dependent territory)

     A,r,e,a         P,o,p,u,l,a,t,i,o,n   D,e,n,s,i,t,y                  \
       k,m,2   m,i,2 P,o,p,u,l,a,t,i,o,n p,o,p,.,/,k,m,2 p,o,p,.,/,m,i,2
0       32.9      13              696100        21158.05           54799
1       2.02    0.78               38300         18960.4           49107
2      722.5     279             5703600         7894.26           20446
3       1106     427             7500700         6781.83           17565
4        6.8     2.6               33701         4956.03           12836
..       ...     ...                 ...             ...             ...
250    12173    4700                2563            0.21            0.54
251    61399   23706                2655            0.04            0.10
252  2166000  836297               55877            0.03            0.08
253      km2     mi2          Population        pop./km2        pop./mi2
254     Area    Area          Population         Density         Density

                D,a,t,e P,o,p,u,l,a,t,i,o,n, ,s,o,u,r,c,e
                D,a,t,e P,o,p,u,l,a,t,i,o,n, ,s,o,u,r,c,e
0    September 30, 2019       Official quarterly estimate
1     December 31, 2018                 Official estimate
2          July 1, 2019                 Official estimate
3     December 31, 2019                 Official estimate
4          July 1, 2019                     UN projection
..                  ...                               ...
250      April 15, 2012                2012 census result
251   September 1, 2012                 Official estimate
252     January 1, 2018                 Official estimate
253                Date                 Population source
254                Date                 Population source

[255 rows x 9 columns]

In [95]:
test_df.columns = ["_".join(col) for col in test_df.columns]

In [96]:
test_df

,Rank_Rank,Country (or dependent territory)_Country (or dependent territory),Area_km2,Area_mi2,Population_Population,Density_pop./km2,Density_pop./mi2,Date_Date,Population source_Population source
0,–,Macau (China),32.9,13,696100,21158.05,54799,"September 30, 2019",Official quarterly estimate
1,1,Monaco,2.02,0.78,38300,18960.4,49107,"December 31, 2018",Official estimate
2,2,Singapore,722.5,279,5703600,7894.26,20446,"July 1, 2019",Official estimate
3,–,Hong Kong (China),1106,427,7500700,6781.83,17565,"December 31, 2019",Official estimate
4,–,Gibraltar (United Kingdom),6.8,2.6,33701,4956.03,12836,"July 1, 2019",UN projection
...,...,...,...,...,...,...,...,...,...
250,–,Falkland Islands (United Kingdom),12173,4700,2563,0.21,0.54,"April 15, 2012",2012 census result
251,–,Svalbard and Jan Mayen (Norway),61399,23706,2655,0.04,0.10,"September 1, 2012",Official estimate
252,–,Greenland (Denmark),2166000,836297,55877,0.03,0.08,"January 1, 2018",Official estimate
253,Rank,Country (or dependent territory),km2,mi2,Population,pop./km2,pop./mi2,Date,Population source
254,Rank,Country (or dependent territory),Area,Area,Population,Density,Density,Date,Population source